- if signed_in?
  .row
    %aside.span4
      %section.user-info
        = render 'shared/user_info'
      %section
        = render 'shared/post_form'
    .span8
      %h3 Post Feed
      = render 'shared/feed'
- else
  .center.hero-unit
    %h1 Sheet-o-Meter

